

<article id="main">
  <section id="content">
      <h1> Mole Valley Fungi</h1>
   
      <p>
      The good, the bad and the beautiful! Here are five examples of fungi that are
      typical of habitats in Mole Valley. They have been
      selected to provide a variety of forms, and times of occurrence.
      (Text and photographs by Ray Tantram &copy 9th. March 2005)
      <p>

      <h2>Penny Bun: Boletus edulis</h2>
      
      <img class="fungi" src="<%= asset_path 'Bole_edul002.jpg'%>">
     
      <p>
      A prized edible species, found in broadleaved and mixed woodland. Forms
      (mycorrhizal) association with the tree roots.  
      One of the <q>sponge caps</q> with pores in place of gills on its lower surface.
      </p>

      <h2>Death Cap: Amanita phalloides</h2> 
       <img class="fungi" src="<%= asset_path 'Death-Cap.jpg'%>">    
       <p>   
      Highly toxic, a quarter of a cap kills very unpleasantly - but not slugs!
      Most of the Amanita family are poisonous.
      Learn to recognise these fungi if you collect for the table.
      Found under oak, with which it forms a (mycorrhizal) association.
      </p>

      <h2>Sulphur Polypore; Chicken of the Woods: Laetiporus sulphureus</h2>
      <img class="fungi" src="<%= asset_path 'Laetip_012.jpg'%>">
      <p>
      Brilliant yellow, with salmon-orange tones.Grows on trunks of living trees,
      mainly oak and chestnut, and also even on Yew*, causing heart rots.
      Edible, and prized in USA, but can cause gastro-intestinal upsets. 
      [*do not eat any picked from this toxic tree!]
      </p>

      <h2>Scarlet elfcup: Sarcosypha austriaca</h2>
    
        <img class="fungi" src="<%= asset_path 'ElfcapAsh02.jpg'%>">
          <p>
      This bright cup fungus (ascomycete) is occasionally found in Mole valley,
      very early in the year, growing on old mossy fallen trunks in
      woodland, especially on hazel and elm. The cups are 1-5 cm. across.
      </p>

      <h2>Thimble Morel: Verpa conica</h2>
      <img class="fungi" src="<%= asset_path 'Verpcon04.jpg'%>">
      <p>
      Quite rare and confined to hawthorn scrub on chalk. There is much of this
      in Mole Valley, and 2004 was a good year for this small and
      elusive spring species. An ascomycete with a hollow stem.
      </p>
   </section>
</article>